<div class="card">
  <div class="card-content">
    <span class="card-title">My Current Assignments</span>
    <% unless @current_assignments.empty? %>
      <% for assignment in @current_assignments %>

        <ul class="collapsible">
          <li>
            <div class="collapsible-header"><i class="material-icons">add</i>
                <%= assignment.investigation.title %> (started on <%= assignment.start_date.strftime("%m/%d/%y") %>)
            </div>

            <div class="collapsible-body"><span>
              <div class="card-action">
                <%= link_to "Go to Investigation", investigation_path(assignment.investigation) %>
              </div>

              <% if can? :new, InvestigationNote %>
                <div class="card-action">
                  <%= link_to "Add a new note", new_investigation_note_path(investigation_id: assignment.investigation.id, officer_id: current_user.officer.id, from: "dashboard") %>
                </div>
              <% end %>

              <% if @officer.active %>
                <% if can? :new, Suspect %>
                <div class="card-action">
                  <%= link_to "Add a new suspect", new_suspect_path(investigation_id: assignment.investigation.id, from: "dashboard") %>
                </div>
                <% end %>
              <% end %>

              <% unless assignment.investigation.investigation_notes.empty? %>
                <table class="striped highlight">
                  <thead>
                    <th>Note</th>
                    <th>Written By</th>
                    <th>Date</th>
                  </thead>
                  <% for note in assignment.investigation.investigation_notes %>
                    <tr>
                      <td><%= note.content %></td>
                      <td><%= note.officer.proper_name %></td>
                      <td><%= note.date.strftime("%m/%d/%y") %></td>

                      <% if can? :edit, note and note.officer == current_user.officer %>
                        <td class="align_center">
                          <%= link_to edit_investigation_note_path(note) do %>
                              <i class="material-icons">edit</i>
                          <% end %>
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                </table>
              <% end %>

            </span></div>
          </li>
        </ul>

      <% end %>

    <% end %>
  </div>
</div>