
  <div class="card">
    <div class="card-content">
      <span class="card-title">My Current Assignments</span>
      <% unless @current_assignments.empty? %>
      <table class="lined">
        <thead>
          <th>Case</th>
          <th>Starting</th>
          <th>Add Note </th>
        </thead>
          <% for assignment in @current_assignments %>
            <tr>

              <td>
                <% if can? :terminate, assignment %>
                  <%= link_to(terminate_assignment_path(assignment, from: "dashboard"), class: 'remove', method: :patch, data: { confirm: 'Are you sure you wish to terminate this assignment?' }) do %>
                    x&nbsp;&nbsp;
                  <% end %>
                <% end %>
                &nbsp;<%= link_to assignment.investigation.title, investigation_path(assignment.investigation) %>
              </td>

              <td><%= assignment.start_date.strftime("%m/%d/%y") %></td>

              <td>
                <% if can? :new, InvestigationNote %>
                <div class="card-action">
                  <%= link_to new_investigation_note_path(investigation_id: assignment.investigation.id, officer_id: current_user.officer.id, from: "dashboard") do %>
                    <i class="material-icons">note_add</i>
                  <% end %>
                </div>
                <% end %>
              </td>

            </tr>
          <% end %>
      </table>

      <% if @officer.active %>
        <% if can? :new, Assignment %>
        <div class="card-action">
          <%= link_to "Add a new assignment", new_assignment_path(officer_id: @officer.id, from: "dashboard") %>
        </div>
        <% end %>
      <% end %>
      
    </div>
  </div>
<% else%>
  <% if @officer.active %>
    <% if can? :new, Assignment %>
      <div class="card grey lighten-3">
        <div class="card-action">
          <%= link_to "Add a new assignment", new_assignment_path(officer_id: @officer.id, from: "dashboard") %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end%>