<div class="card">
  <div class="card-content">
    <span class="card-title">My Current Assignments</span>
    <% unless @current_assignments.empty? %>
      <ul class="collapsible">
        <% for assignment in @current_assignments %>

          <li>
            <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>
                <%= assignment.investigation.title %> (started on <%= assignment.start_date.strftime("%m/%d/%y") %>)
                &nbsp;&nbsp;
                <%= link_to investigation_path(assignment.investigation) do %>
                  <span class="tooltipped" data-position="right" data-tooltip="Go to investigation"}><i class="material-icons">arrow_forward</i></span>
                <% end %>
            </div>

            <div class="collapsible-body"><span>

              <div class="row officer_options">

                <% if can? :new, InvestigationNote %>
                  <span class="tooltipped" data-position="bottom" data-tooltip="Add a new note"}>
                    <%= link_to(new_investigation_note_path(investigation_id: assignment.investigation.id, officer_id: current_user.officer.id, from: "dashboard"), class: 'btn-floating waves-effect waves-light') do %>
                      <i class="material-icons">note_add</i>
                    <% end %>
                    &nbsp;&nbsp;
                  </span>
                <% end %>

                <% if @officer.active %>
                  <% if can? :new, Suspect %>
                    <span class="tooltipped" data-position="bottom" data-tooltip="Add a new suspect"}>
                      <%= link_to(new_suspect_path(investigation_id: assignment.investigation.id, from: "dashboard"), class: 'btn-floating waves-effect waves-light') do %>
                        <i class="material-icons">person_add</i>
                      <% end %>
                      &nbsp;&nbsp;
                    </span>
                  <% end %>
                <% end %>

                <span class="tooltipped" data-position="bottom" data-tooltip="See all notes"}>
                  <%= link_to(investigation_notes_path(investigation_id: assignment.investigation.id), class: 'btn-floating waves-effect waves-light') do %>
                    <i class="material-icons">arrow_forward</i>
                  <% end %>
                  &nbsp;&nbsp;
                </span>

              </div>

              <% unless assignment.investigation.investigation_notes.empty? %>
                <h5><%= "Notes for #{assignment.investigation.title}:" %></h5>
                <table class="striped highlight">
                  <thead>
                    <th>Note</th>
                    <th>Written By</th>
                    <th>Date</th>
                  </thead>
                  <% for note in assignment.investigation.investigation_notes %>
                    <tr>
                      <td><%= note.content %></td>
                      <td><%= note.officer.proper_name %></td>
                      <td><%= note.date.strftime("%m/%d/%y") %></td>

                      <% if can? :edit, note and note.officer == current_user.officer %>
                        <td class="align_center">
                          <%= link_to edit_investigation_note_path(note) do %>
                              <i class="material-icons">edit</i>
                          <% end %>
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                </table>

              <% else %>
                <h5>There are no notes for this case currently.</h5>
              <% end %>

            </span></div>
          </li>

        <% end %>
      </ul>
    <% else %>
      <h5>You have no current assignments.</h5>

    <% end %>
  </div>
</div>