<div class="card">
  <div class="card-content">
    <p class="card-title">

    <% if can? :edit, @officer %>
        <span class="tooltipped" data-position="left" data-tooltip="Edit profile"}>
          <%= link_to(edit_officer_path(@officer), class: 'btn-floating waves-effect waves-light') do %>
            <i class="material-icons">edit</i>
          <% end %>
          &nbsp;
        </span>
      <% end %>
      My Profile
    </p></br>

    <b>Current Unit:&nbsp;&nbsp;</b>
      <%= link_to @officer.unit.name, unit_path(@officer.unit) %>    
      <br /><br />

    <b>Current Rank:&nbsp;&nbsp;</b>
      <%= @officer.rank %><br /><br />

    <b>SSN:&nbsp;&nbsp;</b>
      <%= @officer.ssn %><br /><br />

    <b>Username:&nbsp;&nbsp;</b>
      <%= @officer.user.username %><br /><br />

    <b>Active with GCPD?&nbsp;&nbsp;</b>
      <%= @officer.active ? "Yes" : "No" %><br><br>
  </div>
</div>