
<div class="card">
  <div class="card-content">
    <span class="card-title">Information for <%= @unit.name %></span>

    <table>
        <th class="nobottompadding">Number of Active Officers</th>
        <th class="nobottompadding">Number of Current Assignments</th>
        <tr>
          <td><h2 class="notopmargin"><%= @unit.officers.active.count %></h2></td>
          <td><h2 class="notopmargin"><%= @unit.assignments.current.count %></h2></td>
        </tr>
    </table>


    <table class="striped highlight">
      <thead>
        <th>Officer</th>
        <th>Rank</th>
        <th><%= "# Current \nAssignments".gsub(/\n/, '<br/>').html_safe %></th>
        <th>Options</th>
      </thead>
      <% for officer in @unit_officers %>
        <tr>
          <td><%= link_to officer.proper_name, officer_path(officer) %></td>
          <td><%= officer.rank %></td>
          <td><%= officer.assignments.current.count %></td>

          <td>
            <% if can? :edit, officer %>
              <%= link_to edit_officer_path(officer) do %>
                <span class="tooltipped" data-position="right" data-tooltip="Edit officer">
                <i class="material-icons">edit</i>
                </span>
              <% end %>
            <% end %>
            &nbsp;

            <% if can? :new, Assignment %>
              <%= link_to new_assignment_path(officer_id: officer.id, from: "dashboard") do %>
                <span class="tooltipped" data-position="right" data-tooltip="Add assignment">
                <i class="material-icons">add</i>
                </span>
              <% end %>
            <% end %>
           </td>

        </tr>
      <% end %>
    </table>

  <br />
  <%= will_paginate @unit_officers, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
  <br /><br />

  <% if can? :new, Officer %>
    <%= link_to(new_officer_path, class: "waves-effect waves-light btn") do %>
      <strong>Add a New Officer</strong>
    <% end %>
  <% end %>
  </div>
</div>