<div class="card">
  <div class="card-content">
    <h5>Officer Information for 
    <span class="tooltipped" data-position="right" data-tooltip="Click to edit"><%= best_in_place_if (can? :edit, @officer), @officer, :first_name, as: :input %> 
    <%= best_in_place_if (can? :edit, @officer), @officer, :last_name, as: :input %></span></h5><br />

    <b>Current Unit:&nbsp;&nbsp;</b>
      <%= link_to @officer.unit.name, unit_path(@officer.unit) %>
      <% if !@officer.user.nil? and @officer.user.role?(:chief) %>
        &nbsp;&nbsp;<i>*Unit Chief</i>
      <% end%>     
      <br /><br />

    <b>Current Rank:&nbsp;&nbsp;</b>
      <%= @officer.rank %><br /><br />

    <% unless @officer.user.nil? %>
      <b>Current Role:&nbsp;&nbsp;</b>
        <%= @officer.user.role.capitalize %><br /><br />
    <% end %>
      
    <b>SSN:&nbsp;&nbsp;</b>
      <span class="tooltipped" data-position="right" data-tooltip="Click to edit"><%= best_in_place_if (can? :edit, @officer), @officer, :ssn, as: :input %></span><br /><br />

    <% unless @officer.user.nil? %> 
      <b>Username:&nbsp;&nbsp;</b>
        <%= @officer.user.active ? @officer.user.username : "n/a" %><br /><br />
    <% end %>    

    <b>Active with GCPD?&nbsp;&nbsp;</b>
      <% if can? :edit, @officer %>
        <span class="tooltipped" data-position="right" data-tooltip="Click to toggle"><%= best_in_place @officer, :active, as: :checkbox, collection: {false: "No", true: "Yes"} %></span><br><br>
      <% else %>
        <%= @officer.active ? "Yes" : "No" %><br /><br />
      <% end %>

  </div>
</div>