<div id="tabbed">
  <tabs>

    <tab name="current assignments" v-bind:selected="true">
      <% unless @current_assignments.empty? %>
        <div class="card">
          <div class="card-content">
            <p class="card-title">
              <% if @investigation.date_closed.nil? %>
                <% if can? :new, Assignment %>
                  <%= link_to(new_assignment_path(investigation_id: @investigation.id, from: "investigation"), class: 'btn-floating waves-effect waves-light') do %>
                    <i class="material-icons">add</i>
                  <% end %>
                  &nbsp;
                <% end %>
              <% end %>
            Current Assignments
            </p>

            <table class="lined">
              <thead>
                <th>Officer</th>
                <th>Starting</th>
              </thead>
                <% for assignment in @current_assignments %>
                  <tr>
                    <td>
                      <% if can? :terminate, Assignment %>
                        <%= link_to(terminate_assignment_path(assignment, from: "investigation"), class: 'remove', method: :patch, data: { confirm: 'Are you sure you wish to terminate this assignment?' }) do %>
                          <span class="tooltipped" data-position="left" data-tooltip="Terminate assignment">x&nbsp;&nbsp;</span>
                        <% end %>
                      <% end %>
                      &nbsp;<%= link_to assignment.officer.name, officer_path(assignment.officer) %>
                    </td>
                    <td><%= assignment.start_date.strftime("%m/%d/%y") %></td>
                  </tr>
                <% end %>
            </table>

          </div>
        </div>
      <% else%>

        <%# allow to add a new assignment might be nice %>
        <% if @investigation.date_closed.nil? %>
          <% if can? :new, Assignment %>
          <div class="card grey lighten-3">
            <div class="card-action">
              <%= link_to "Add a new assignment", new_assignment_path(investigation_id: @investigation.id, from: "investigation") %>
            </div>
          </div>
          <% end %>

        <%# if investigation is closed, mention %>
        <% else %>
          <h5>This investigation is closed, so there are no current assignments.</h5>
        <% end %>

      <% end%>

    </tab>

    <% unless @past_assignments.empty? %>
      <tab name="past assignments">
        <div class="card grey lighten-3">
          <div class="card-content">
            <span class="card-title">Past Assignments</span>
            <table class="lined">
              <thead>
                <th>Officer</th>
                <th>Starting</th>
                <th>Ending</th>
              </thead>
                <% for assignment in @past_assignments %>
                  <tr>
                    <td>
                      &nbsp;<%= link_to assignment.officer.name, officer_path(assignment.officer) %>
                    </td>
                    <td><%= assignment.start_date.strftime("%m/%d/%y") %></td>
                    <td><%= assignment.end_date.strftime("%m/%d/%y") %></td>
                  </tr>
                <% end %>
            </table>
          </div>
        </div>
      </tab>
    <% end %>
  </tabs>
</div>