<% unless @notes.empty? %>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Investigation Notes</span>

      <table class="lined">
        <thead>
          <th>Content</th>
          <th>Date</th>
        </thead>
          <% for note in @notes %>
            <tr>

              <td>
                <!-- only show option to destroy note if officer was the one who wrote it -->
                <% if can? :destroy, InvestigationNote and note.officer == current_user.officer %>
                  <%= link_to(investigation_note_path(note), method: :delete, class: 'remove', data: { confirm: 'Are you sure you wish to delete this note?' }) do %>
                    x&nbsp;&nbsp;
                  <% end %>
                <% end %>
                &nbsp;<%= note.content %>
              </td>

              <td><%= note.date.strftime("%m/%d/%y") %></td>

              <td>
                <!-- only show option to edit note if officer was the one who wrote it -->
                <% if can? :edit, InvestigationNote and note.officer == current_user.officer %>
                  <%= link_to edit_investigation_note_path(note) do %>
                    <i class="material-icons">edit</i>
                  <% end %>
                <% end %>
              </td>

            </tr>
          <% end %>
      </table>

      <!-- only show option to create note if officer is assigned to case -->
      <% if @investigation.date_closed.nil? and @investigation.assignments.map{ |a| a.officer }.include? current_user.officer %>
        <% if can? :new, InvestigationNote %>
        <div class="card-action">
          <%= link_to "Add a new note", new_investigation_note_path(investigation_id: @investigation.id, officer_id: current_user.officer.id) %>
        </div>
        <% end %>

        <% if can? :read, InvestigationNote %>
          <div class="card-action">
            <%= link_to "See all notes", investigation_notes_path(investigation_id: @investigation.id) %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
<% else%>
  <!-- only show option to create comment if officer is assigned to case-->
  <% if @investigation.date_closed.nil? and @investigation.assignments.map{ |a| a.officer }.include? current_user.officer %>
    <% if can? :new, InvestigationNote %>
      <div class="card grey lighten-3">
        <div class="card-action">
          <%= link_to "Add a new note", new_investigation_note_path(investigation_id: @investigation.id, officer_id: current_user.officer.id) %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end%>
