<div class="card">
  <div class="card-content">
    <h5>Information for <%= best_in_place @investigation, :title, as: :input %><br /><br /></h5><br />

    <b>Crimes committed:&nbsp;&nbsp;</b><br />
      <% @case_crimes.sort_by{ |c| c.crime.name }.each do |ci| %> <!-- goes through crime investigations -->
        <!-- <li><%# crime.name %></li> -->

        <%= link_to(destroy_crime_investigation_path(ci), method: :delete, class: 'remove', data: { confirm: 'Are you sure you wish to delete this crime from the investigation?' }) do %>
                    x&nbsp;&nbsp;
        <% end %>
        <%= ci.crime.name %><br />
      <% end %>
      <%= link_to "Add a new crime to this investigation", new_crime_investigation_path(investigation_id: @investigation.id) %>

      <br />
      <br />

    <b>Location:&nbsp;&nbsp;</b>
      <%= best_in_place @investigation, :crime_location, as: :input %><br /><br />   
      <br /><br />

    <b>Description:&nbsp;&nbsp;</b><br />
      <%= best_in_place @investigation, :description, as: :input %><br /><br />

    <b>Date opened:&nbsp;&nbsp;</b>
      <%= @investigation.date_opened.strftime("%B %d, %Y") %><br /><br />

    <% unless @investigation.date_closed.nil? %>
      <b>Date closed:&nbsp;&nbsp;</b>
        <%= @investigation.date_closed.strftime("%B %d, %Y") %><br /><br />
    <% end%>

    <b>Was Batman involved?&nbsp;&nbsp;</b>
      <%= @investigation.batman_involved ? "Yes" : "No" %><br /><br />

    <b>Case solved?&nbsp;&nbsp;</b>
      <%= @investigation.solved ? "Yes" : "No" %><br /><br />

  </div>
</div>
