<div class="card">
  <div class="card-content">
    <h5>Information for <span class="tooltipped" data-position="right" data-tooltip="Click to edit"><%= best_in_place_if (can? :edit, @investigation), @investigation, :title, as: :input %></span><br /><br /></h5>

    <b>Crimes committed:&nbsp;&nbsp;</b><br />
      <% @case_crimes.sort_by{ |c| c.crime.name }.each do |ci| %> <!-- goes through crime investigations -->
        <!-- <li><%# crime.name %></li> -->

        <%= link_to(destroy_crime_investigation_path(ci), method: :delete, class: 'remove', data: { confirm: 'Are you sure you wish to delete this crime from the investigation?' }) do %>
          <span class="tooltipped" data-position="left" data-tooltip="Remove crime">x&nbsp;&nbsp;</span>
        <% end %>
        <%= ci.crime.name %><br />
      <% end %>
      <%= link_to "Add a new crime to this investigation", new_crime_investigation_path(investigation_id: @investigation.id) %>

      <br />
      <br />

    <b>Location:&nbsp;&nbsp;</b>
      <span class="tooltipped" data-position="right" data-tooltip="Click to edit"><%= best_in_place_if (can? :edit, @investigation), @investigation, :crime_location, as: :input %></span><br /><br />   

    <b>Description:&nbsp;&nbsp;</b><br />
      <span class="tooltipped" data-position="right" data-tooltip="Click to edit"><%= best_in_place_if (can? :edit, @investigation), @investigation, :description, as: :textarea, :ok_button => 'Save', :cancel_button => 'Cancel' %></span><br /><br />

    <b>Date opened:&nbsp;&nbsp;</b>
      <%= @investigation.date_opened.strftime("%B %d, %Y") %><br /><br />

    <% unless @investigation.date_closed.nil? %>
      <b>Date closed:&nbsp;&nbsp;</b>
        <%= @investigation.date_closed.strftime("%B %d, %Y") %><br /><br />
    <% end%>

    <b>Was Batman involved?&nbsp;&nbsp;</b>
      <% if can? :edit, @investigation %>
        <span class="tooltipped" data-position="right" data-tooltip="Click to toggle"><%= best_in_place @investigation, :batman_involved, as: :checkbox, collection: {false: "No", true: "Yes"} %></span><br /><br />
      <% else %>
        <%= @investigation.batman_involved ? "Yes" : "No" %><br /><br />
      <% end %>

    <b>Case solved?&nbsp;&nbsp;</b>
      <% if can? :edit, @investigation %>
        <span class="tooltipped" data-position="right" data-tooltip="Click to toggle"><%= best_in_place @investigation, :solved, as: :checkbox, collection: {false: "No", true: "Yes"} %></span><br /><br />
      <% else %>
        <%= @investigation.solved ? "Yes" : "No" %><br /><br />
      <% end %>

  </div>
</div>
