<div class="row valign-wrapper" id="topbar">
  <div class="col s1">
    <%# link_to(image_tag('logos/logo_v2_80x80.png'), home_path) %>
  </div>
  <div class="col s10">
    <% if current_user %>
    	<%= link_to dashboard_path do%>
        <%= image_tag 'gcpd.png', class: 'img_left' %>
      <% end %>
      <h2 class="page_title"><%= link_to "GCPD Tracking System", dashboard_path, class: "home_link" %></h2>
      <h5><%= "Welcome, #{current_user.role.capitalize} #{current_user.officer.proper_name}!" %></h5>

    <% else %>
      <%= link_to home_path do%>
        <%= image_tag 'gcpd.png', class: 'img_left' %>
      <% end %>
      <h2><%= link_to "GCPD Tracking System", home_path, class: "home_link" %></h2>
    <% end %>
  </div>
  <div class="col s1">
    &nbsp;
  </div>
</div>
