<div class="card">
  <div class="card-content">
    <h5>Information for <span class="tooltipped" data-position="right" data-tooltip="Click to edit"><%= best_in_place_if (can? :edit, @unit), @unit, :name, as: :input %></span><br /><br /></h5>

    <b>Number of Active Officers:&nbsp;&nbsp;</b>
      <%= @unit.number_of_active_officers %>
      <br /><br />

    <b>Number of Open Cases:&nbsp;&nbsp;</b>
      <%= @unit.number_of_unique_open_investigations %>
      <br /><br />

    <b>Active with GCPD?&nbsp;&nbsp;</b>
    	<% if can? :edit, @unit %>
        <span class="tooltipped" data-position="right" data-tooltip="Click to toggle"><%= best_in_place @unit, :active, as: :checkbox, collection: {false: "No", true: "Yes"} %></span><br><br>
      <% else %>
        <%= @unit.active ? "Yes" : "No" %><br /><br />
      <% end %>

  </div>
</div>