<h4><%= state.capitalize %> Criminals in GCPD</h4>

<% if criminals.empty? %>
  <p>There are no <%= state.downcase %> criminals at this time.</p>
<% else %>

  <table class="striped highlight">
    <thead>
      <th>Criminal</th>
      <th>Felon?</th>
      <th>Has Superpower?</th>

      <% if can? :edit, Criminal %>
        <th class="align_center">Edit</th>
      <% end %>
    </thead>
    <% for criminal in criminals %>
      <tr>
        <% if can? :show, criminal %>
          <td><%= link_to criminal.name, criminal_path(criminal) %></td>
        <% else %>
          <td><%= criminal.name %></td>
        <% end %>

        <td><%= criminal.convicted_felon ? "Yes" : "No" %></td>
        <td><%= criminal.enhanced_powers ? "Yes" : "No" %></td>

        <td class="align_center">
          <% if can? :edit, Criminal %>
            <%= link_to edit_criminal_path(criminal) do %>
              <i class="material-icons">edit</i>
            <% end %>
          <% end %>
        </td>
      
      </tr>
    <% end %>
  </table>
  <p class="supertiny"></p>
  <br />
  <%= will_paginate criminals, param_name: "#{state.gsub('-','').downcase}page", previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
<% end %>